@using MVCTeknolojikMarketYonetimPaneli.Models.Model
@using MVCTeknolojikMarketYonetimPaneli.Models.EkModel

@model Tuple<List<SOHBET_Result>,TBL_MESAJPERYON,Class1>

@{
    ViewBag.Title = "SohbetiGoster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert('@ViewBag.Message');
        };
    </script>
}


@foreach (var x in Model.Item1)
{
    
   if (x.MESAJYON == true)
   {

    <div style="text-align:left">


        <div class="panel panel-info">
            <div class="panel-heading">@x.KISI</div>
            <div class="panel-body">@x.MESAJICERIGI</div>
            <div class="panel-footer">@x.TARIH</div>

        </div>

        <br />


    </div>



   }
   else
   {


    <div style="text-align:right">


        <div class="panel panel-success">
            <div class="panel-heading">@x.KISI</div>
            <div class="panel-body">@x.MESAJICERIGI</div>
            <div class="panel-footer">@x.TARIH</div>

        </div>

        <br />


    </div>


   }

}


@using (Html.BeginForm("SohbetiGoster", "Mesaj", FormMethod.Post))
{

    
    @Html.TextAreaFor(m => m.Item2.MESAJICERIGI, new { rows = "5", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Item2.MESAJICERIGI, "", new { @style = "color:red" })

    @Html.HiddenFor(m => m.Item2.MESAJBASLIGI, new { Value = @Model.Item3.MesajBaslik })
    @Html.ValidationMessageFor(m => m.Item2.MESAJBASLIGI, "", new { @style = "color:red" })

    @Html.HiddenFor(m=> m.Item3.MesajId)
    
    <br />
    <button class="btn btn-success">Gönder</button>

}