@model MVCTeknolojikMarketYonetimPaneli.Models.Model.TBL_YONETICI

@{
    ViewBag.Title = "YoneticiEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert('@ViewBag.Message');
        };
    </script>
}



<form class="form-group" method="post">


    <label>Eklemek istediğiniz yöneticinin adını giriniz.</label>
    @Html.TextBoxFor(m => m.YONETICIAD, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.YONETICIAD, "", new { @style = "color:red" })

    <br />
    <label>Eklemek istediğiniz yöneticinin soyadını giriniz.</label>
    @Html.TextBoxFor(m => m.YONETICISOYAD, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.YONETICISOYAD, "", new { @style = "color:red" })

    <br />

    <label>Eklemek istediğiniz yöneticinin şubesini seçiniz.</label>
    @Html.DropDownListFor(m => m.TBL_SUBE.SUBEID, (List<SelectListItem>)ViewBag.sb, new { @class = "form-control" })

    <br/>
    
    <label>Eklemek istediğiniz yöneticinin telefonunu giriniz.</label>
    @Html.TextBoxFor(m => m.YONETICITELEFON, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.YONETICITELEFON, "", new { @style = "color:red" })

    <br />
    <label>Eklemek istediğiniz yöneticinin e-posta adresini giriniz.</label>
    @Html.TextBoxFor(m => m.YONETICIMAIL, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.YONETICIMAIL, "", new { @style = "color:red" })

    <br />
    <label>Eklemek istediğiniz yöneticinin TC kimlik numarasını giriniz.</label>
    @Html.TextBoxFor(m => m.YONETICITC, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.YONETICITC, "", new { @style = "color:red" })

    <br />
    <label>Eklemek istediğiniz yöneticinin cinsiyetini seçiniz.</label>
    @Html.DropDownListFor(m => m.YONETICICINSIYET, (List<SelectListItem>)ViewBag.cns, new { @class = "form-control" })
    <br />
    <label>Eklemek istediğiniz yöneticinin yaşını giriniz.</label>
    @Html.TextBoxFor(m => m.YONETICIYAS, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.YONETICIYAS, "", new { @style = "color:red" })
    
    <br />

    <label>Eklemek istediğiniz yöneticinin maaşını giriniz.</label>
    @Html.TextBoxFor(m => m.YONETICIMAAS,new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.YONETICIMAAS, "", new { @style = "color:red" })

    <br />


    <label>Eklemek istediğiniz yöneticinin kullanıcı adını giriniz.</label>
    @Html.TextBoxFor(m => m.KULLANICIADI, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.KULLANICIADI, "", new { @style = "color:red" })

    <br />

    <label>Eklemek istediğiniz yöneticinin şifresini giriniz.</label>
    @Html.TextBoxFor(m => m.SIFRE, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SIFRE, "", new { @style = "color:red" })

    <br />

    <button class="btn btn-success">Yönetici Kaydet/Ekle</button>



</form>




