@model MVCTeknolojikMarketYonetimPaneli.Models.Model.TBL_MESAJYONPER

@{
    ViewBag.Title = "YeniMesaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert('@ViewBag.Message');
        };
    </script>
}


  @using (Html.BeginForm("YeniMesaj", "MesajYonetici", FormMethod.Post))
  {

    <label>Mesaj Başlığı</label>

    @Html.TextBoxFor(m => m.MESAJBASLIGI, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.MESAJBASLIGI, "", new { @style = "color:red" })

    <br />

    <label>Mesaj İçeriği</label>

    @Html.TextAreaFor(m => m.MESAJICERIGI, new { rows = "5", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.MESAJICERIGI, "", new { @style = "color:red" })

    <br />
      
      
    <label>Alıcı Personel</label>

    @Html.DropDownListFor(m => m.TBL_PERSONEL.PERSONELID, (List<SelectListItem>)ViewBag.per, new { @class = "form-control" })

      <br />

    <button class="btn btn-success">Personele Mesajını İlet</button>

  }



